<p class="heading mat-headline">Personal Projects</p>
<div class="wrapper">
  <div class="card">
    <img
      src="https://raw.githubusercontent.com/jamilhumza/FavouriteMovies/main/flaskproject1/app2.jpg"
      alt="Avatar"
      style="width: 100%"
    />
    <div class="container">
      <h4><b>Favourite Movies</b></h4>
      <p>
        Full-stack web app using Flask, SQLAlchemy, and bootstrap. Users can
        register for an account and log in. It uses the OMDb api to allow users
        to search and favourite movies.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://raw.githubusercontent.com/jamilhumza/F2Racing/main/pictureofgame.jpg"
      alt="Avatar"
      style="width: 100%"
    />
    <div class="container">
      <h4><b>F2 Racing</b></h4>
      <p>
        Browser game where the player controls a car and must dodge oncoming
        cars, made with Javascript, JQuery, HTML/CSS. I implemented a collision
        detection algorithm to trigger the game over function when the user hits
        a car.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://raw.githubusercontent.com/jamilhumza/ProductivityTool/main/studymonitorpic.jpg"
      alt="Avatar"
      style="width: 100%"
    />
    <div class="container">
      <h4><b>Student Productivity App</b></h4>
      <p>
        Full-stack web app using React, Express, Node.js, PostgreSQL. Users can
        add and delete daily tasks to the interface. They can use the timer,
        built using React hooks, to take study breaks or time their study
        sessions.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://raw.githubusercontent.com/jamilhumza/DiscordBot/main/discordpicture.jpg"
      alt="Avatar"
      style="width: 100%"
    />
    <div class="container">
      <h4><b>Discord Bot</b></h4>
      <p>
        Discord bot using python and discord.py library. The bot sends meeting
        information if the user uses a certain command. There is also a
        profanity filter implemented using a list of banned words and a for
        loop.
      </p>
    </div>
  </div>
</div>

<footer class="foot">
  <span
    ><a target="_blank" href="https://github.com/jamilhumza"
      ><img
        height="20"
        width="20"
        src="../assets/images/github32.png"
        alt="github"
      /> </a
  ></span>
  <span
    ><a
      target="_blank"
      href="https://drive.google.com/file/d/1epu3ZUH1Kz035haIICGRkxE2XF7fm03K/view?usp=sharing"
      ><img
        height="20"
        width="20"
        src="../assets/images/copy.png"
        alt="resume" /></a
  ></span>
  <span
    ><a target="_blank" href="https://www.linkedin.com/in/humzajamil/"
      ><img
        height="20"
        width="20"
        src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/32/Linkedin-icon.png"
        alt="github" /></a
  ></span>
</footer>
